{% extends 'center/stock/stock_basis.html' %}
{% block title %}Produkte{% endblock %}

{% block ext2 %}
    <div class="box100" style="text-align: left">
        <div class="big seven" style="padding: 15px 0 10px 20px"><i>Filter</i></div>
        <form action="" method="POST" name="filterform" style="padding-top: 3px">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="splitleft">
                <div class="form-group">
                    <label for="product_ids" style="width: 100%">Produkte (IDs an Semikolon trennen!)
                        <div style="float: right">
                            <input type="radio" value="id" id="id" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['stock_products_filter_infos'] %}
                                    {% if session['stock_products_filter_infos']['product_id_type'] == 'id' %}
                                        checked
                                    {% endif %}
                                    {% else %}
                                        checked
                                    {% endif %}
                            >
                            <label for="id" style="margin: 0; padding-bottom: 0">ID
                            </label>
                            <input type="radio" value="Internal_ID" id="Internal_ID" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['stock_products_filter_infos'] %}
                                    {% if session['stock_products_filter_infos']['product_id_type'] == 'Internal_ID' %}
                                        checked
                                    {% endif %}
                                    {% endif %}
                            >
                            <label for="Internal_ID" style="margin: 0; padding-bottom: 0">Interne ID
                            </label>
                            <input type="radio" value="HSP_ID" id="HSP_ID" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['stock_products_filter_infos'] %}
                                    {% if session['stock_products_filter_infos']['product_id_type'] == 'HSP_ID' %}
                                        checked
                                    {% endif %}
                                    {% endif %}
                            >
                            <label for="HSP_ID" style="margin: 0; padding-bottom: 0">HSP-ID
                            </label>
                            <input hidden name="product_type" id="product_type" value="{{ session['stock_products_filter_infos']['product_id_type'] if session['stock_products_filter_infos']['product_id_type'] else 'id' }}">
                        </div>
                    </label>
                    <textarea rows="4" id="product_ids" style="border: solid 1px black;"  name="product_ids" class="form-control">{% for p in session['stock_products_filter_infos']['product_ids'] %}{{ p }};{% endfor %}</textarea>
                    <span class="supertiny formwarning" id="product_ids_warning">Keine Eingabe!</span>
                    <div style="position:relative;">
                        <input type="text" name="product" class="form-control" id="product" list="product-datalist" style="padding-right: 120px; border: solid 1px black;" onkeyup="find_products(this.value)">
                        <span class="supertiny formwarning" id="product_warning">Nur Ziffern erlaubt!</span>
                        <datalist id="product-datalist" onmouseover="show_filter_options('product')" onmouseleave="hide_filter_options('product')" >

                        </datalist>
                        <button type="button" class="fromfield_blackbutton" name="btn" onclick="add_product()" id="attributebtn">
                            <i class="fa fa-caret-up" aria-hidden="true"></i> hinzufügen
                        </button>
                    </div>
                </div>
            </div>
            <div class="splitright">
                <table class="table tiny" style="margin-bottom: 0; text-align: left; border: none; box-shadow: none">
                    <thead style="border: none; box-shadow: none">
                        <tr style="border: none; box-shadow: none">
                            <th style="border: none; box-shadow: none; position: relative; padding: 5px">
                                <label for="datalimit_page"> Anzeige pro Seite:
                                </label>
                                    <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="number"
                                           name="datalimit_page" id="datalimit_page" min="1"
                                            {% if 'datalimit_page' in session['stock_products_filter_infos'] %}
                                            value="{{ session['stock_products_filter_infos']['datalimit_page'] }}"
                                           {% endif %}
                                    >
                            </th>
                            <th style="border: none; box-shadow: none; position: relative; padding: 5px">
                            </th>
                        </tr>
                        <tr>
                            <th style="border: none; box-shadow: none; position: relative; padding: 5px">
                                <label for="datalimit_whole">Max. Anzahl:
                                </label>
                                    <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="number"
                                           name="datalimit_whole" id="datalimit_whole" min="1"
                                            {% if 'datalimit_whole' in session['stock_products_filter_infos'] %}
                                            value="{{ session['stock_products_filter_infos']['datalimit_whole'] }}"
                                           {% endif %}
                                    >
                            </th>
                            <th style="border: none; box-shadow: none; text-align: center">
                                <button class="standardbutton tiny blackbutton visible" style="margin: 0" type="submit" value="filter" name="btn">
                                    <i class="fa fa-filter" aria-hidden="true"></i> Filtern
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
    <div class="box100">
        <div class="box100title">
            {{ result_length }} Treffer
        </div>
        <div class="box100title">
            Seite: <input id="page" type="number" max="{{ (result_length/session['stock_products_filter_infos']['datalimit_page'])|round(0, 'ceil')|int }}"
                          min="1" value="{{ session['stock_products_filter_infos']['datalimit_offset'] + 1 }}" style="width: 50px" onchange="turnpage(this.value)">
            / {{ (result_length/session['stock_products_filter_infos']['datalimit_page'])|round(0, 'ceil')|int }}
        </div>
    </div>
    <div class="box100">
        <table class="table visible sortable tiny" style="text-align: left">
            <thead class="black">
                <tr>
                    <th style="vertical-align: top">
                        <br>
                        <br>
                        ID<br>
                        HSP-ID<br>
                        Interne-ID
                    </th>
                    <th style="vertical-align: top">
                        <br>
                        <br>
                        Name
                    </th>
                    {% for stock in stocks %}
                        <th>
                            <b>{% if not stock.owned %}{{ stock.supplier.get_name() }}{% endif %}</b><br>
                            <b>{{ stock.name }}</b><br><br>
                            EK-Preis<br>
                            Versandkosten<br>
                            Stückzahl<br>
                            Lieferzeit in Tagen
                        </th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr onclick="show_price_history('{{ product.id }}')">
                    <td>
                        {{ product.id }}<br>
                        {{ product.hsp_id }}<br>
                        {{ product.internal_id }}
                    </td>
                    <td>
                        {{ product.name }}
                    </td>
                    {{ product.stock_html_generator() | safe }}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script>
        function turnpage(val){
            fetch('/center/stock/products/turnpage/' + val).then(function (response) {
                setTimeout(function() {
                    document.filterform.submit();
                }, 200);
            });
        }

        function find_products(val){
            var letters = /^[0-9A-Za-zÀ-ž\u0370-\u03FF\u0400-\u04FF]+$/;
            if(val.match(letters)) {
                fetch('/center/product/products/find_products/' + val).then(function (response) {
                    response.json().then(function (data) {
                        document.getElementById("product-datalist").innerHTML = data.out;
                    });
                });
            }
        }

        function sort_products(val){
            fetch('/center/product/product_sort/' + val);
            setTimeout(function() {
                document.filterform.submit();
            }, 200);
        }

        function transform_ids(val) {
            var old_type = document.getElementById('product_type').value;
            document.getElementById('product_type').value = val;
            var ids = document.getElementById('product_ids').value.replace(/(?:\r\n|\r|\n|,)/g, ';');
            fetch('/center/product/dynamic_pricing/transform_ids/'+ids+','+old_type+','+val).then(function (response) {
                response.json().then(function (data) {
                    document.getElementById('product_ids').value = data.ids;
                    if(data.not_found!==''){
                        alert("Die IDs "+data.not_found+" konnten nicht umgewandelt werden.");
                    }
                });
            });
        }

        function add_product() {
            var value = document.getElementById('product').value;
            var values = value.split(' - ');
            var type = document.getElementById('product_type').value;
            if (values.length>2 && !isNaN(Number(values[0])) && !isNaN(Number(values[1])) && !isNaN(Number(values[2]))){
                if (type==='id'){
                    var prod_id = document.getElementById('product').value.split(" - ")[0];
                }else if (type==='Internal_ID'){
                    prod_id = document.getElementById('product').value.split(" - ")[1];
                }else if (type==='HSP_ID'){
                    prod_id = document.getElementById('product').value.split(" - ")[2];}
                var prod_ids = document.getElementById('product_ids');
                if (prod_ids.value.replace(' ','') === ''){
                    prod_ids.value = prod_id;
                }
                else{
                    prod_ids.value += ';'+prod_id;
                }
            }else{
                var list = document.getElementById("product-datalist").children;
                for (var i = 0; i < list.length; i++) {
                    if (type==='id'){
                        prod_id = list[i].value.split(" - ")[0];
                    }else if (type==='Internal_ID'){
                        prod_id = list[i].value.split(" - ")[1];
                    }else if (type==='HSP_ID'){
                        prod_id = list[i].value.split(" - ")[2];}
                    prod_ids = document.getElementById('product_ids');
                    if (prod_ids.value.replace(' ','') === ''){
                        prod_ids.value = prod_id;
                    }
                    else{
                        prod_ids.value += ';'+prod_id;
                    }
                }
            }
        }
    </script>
{%endblock%}