{% extends 'center/basis.html' %}
{% block title %}Settings{% endblock %}

{% block addsheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/center/settings.css')}}">
{% endblock %}

{% block ext %}
    <div class="visible white tiny box100" style="text-align: left; position: relative">
        <a class="blackfont" href="{{ url_for('center_analysis_pricing_actions') }}">
            <div class="submenu five">
                Pricing-Aktionen
            </div>
        </a>
        <a class="blackfont" href="{{ url_for('center_analysis_pricing_bundles') }}">
            <div class="submenu five">
                Pricing-Bundles
            </div>
        </a>
        <a class="blackfont" href="{{ url_for('center_analysis_buying') }}">
            <div class="submenu five">
                Einkauf
            </div>
        </a>
    </div>
    {% block ext2 %}{% endblock %}
{% endblock %}