{% extends 'center/basis.html' %}
{% block title %}Pre-Order{% endblock %}

{% block addsheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/center/orders.css')}}">
{% endblock %}

{% block ext %}
    <div class="box100" style="text-align: left">
        <form action="" method="POST" name="filterform" style="padding-top: 3px">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="checker" value="filter_preorders" hidden>
            <div class="splitleft">
                <div class="form-group" style="margin-top: 20px">
                    <label for="product_ids" style="width: 100%">Produkte (IDs an Semikolon trennen!)
                        <div style="float: right">
                            <input type="radio" value="id" id="id" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['preorder_filter_infos'] %}
                                    {% if session['preorder_filter_infos']['product_id_type'] == 'id' %}
                                        checked
                                    {% endif %}
                                    {% else %}
                                        checked
                                    {% endif %}
                            >
                            <label for="id" style="margin: 0; padding-bottom: 0">ID
                            </label>
                            <input type="radio" value="Internal_ID" id="Internal_ID" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['preorder_filter_infos'] %}
                                    {% if session['preorder_filter_infos']['product_id_type'] == 'Internal_ID' %}
                                        checked
                                    {% endif %}
                                    {% endif %}
                            >
                            <label for="Internal_ID" style="margin: 0; padding-bottom: 0">Interne ID
                            </label>
                            <input type="radio" value="HSP_ID" id="HSP_ID" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['preorder_filter_infos'] %}
                                    {% if session['preorder_filter_infos']['product_id_type'] == 'HSP_ID' %}
                                        checked
                                    {% endif %}
                                    {% endif %}
                            >
                            <label for="HSP_ID" style="margin: 0; padding-bottom: 0">HSP-ID
                            </label>
                            <input hidden name="product_type" id="product_type" value="{{ session['preorder_filter_infos']['product_id_type'] if session['preorder_filter_infos']['product_id_type'] else 'id' }}">
                        </div>
                    </label>
                    <textarea rows="4" id="product_ids" style="border: solid 1px black;"  name="product_ids" class="form-control">{% for p in session['preorder_filter_infos']['product_ids'] %}{{ p }};{% endfor %}</textarea>
                    <span class="supertiny formwarning" id="product_ids_warning">Keine Eingabe!</span>
                    <div style="position:relative;">
                        <input type="text" name="product" style="border: solid 1px black;"  class="form-control" id="product" list="product-datalist" style="padding-right: 120px" onkeyup="find_products(this.value)">
                        <span class="supertiny formwarning" id="product_warning">Nur Ziffern erlaubt!</span>
                        <datalist id="product-datalist" onmouseover="show_filter_options('product')" onmouseleave="hide_filter_options('product')" >

                        </datalist>
                        <button type="button" class="fromfield_blackbutton" name="btn" onclick="add_product()" id="attributebtn">
                            <i class="fa fa-caret-up" aria-hidden="true"></i> hinzufügen
                        </button>
                    </div>
                </div>
            </div>
            <div class="splitright">
                <table class="table tiny" style="margin-bottom: 0; text-align: left; border: none; box-shadow: none">
                    <thead style="border: none; box-shadow: none">
                        <tr>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px; width: 120px;">
                                Release-Datum:<br>
                                <label for="min_release_date"> Start:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="date" name="min_release_date" id="min_release_date" value="{{ session['preorder_filter_infos']['min_release_date'] }}">
                            </th>
                            <th style="border: none; box-shadow: none;">
                            </th>
                        </tr>
                        <tr>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px; width: 120px;">
                                <label for="max_release_date"> Ende:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="date" name="max_release_date" id="max_release_date" value="{{ session['preorder_filter_infos']['max_release_date'] }}">
                            </th>

                            <th style="border: none; box-shadow: none; padding-bottom: 15px; width: 120px;">
                                <button class="standardbutton tiny blackbutton visible" style="float: right; margin: 0" type="submit" value="filter" name="btn">
                                    <i class="fa fa-filter" aria-hidden="true"></i> Filtern
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
    <div class="box100">
        <form action="" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="checker" value="update_preorders" hidden>
            <table class="table table-hover tiny sortable" style="text-align: left">
                <thead class="black">
                    <tr>
                        <th class="sortable">

                        </th>
                        <th class="sortable">
                            HSP-ID
                        </th>
                        <th class="sortable">
                            Name
                        </th>
                        <th class="sortable">
                            Release-Datum
                        </th>
                        <th class="sortable">
                            VK
                        </th>
                        <th class="sortable">
                            Vitrex
                        </th>
                        <th class="sortable">
                            Groß
                        </th>
                        <th class="sortable">
                            Andere
                        </th>
                        <th class="sortable">
                            Gesamt
                        </th>
                    </tr>
                </thead>
                <tbody style="border-bottom: solid 1px rgb(222, 226, 230);">
                    {% for p in preorders %}
                    <tr {% if p[0].sales > p[0].quantity() %}style="background: #fad0cd"{% endif %}>
                        <td>

                        </td>
                        <td>
                            {{ p[1].hsp_id }}
                        </td>
                        <td>
                            {{ p[1].name }}
                        </td>
                        <td>
                            {{ p[1].release_date.strftime('%Y-%m-%d') }}
                        </td>
                        <td>
                            {{ p[0].sales }}
                        </td>
                        <td style="width: 80px">
                            <input style="width: 80px" id="{{ p[0].id }}_vitrex" name="{{ p[0].id }}_vitrex" type="number" min="0" value="{{ p[0].supplier_quantity(vitrex.id) }}">
                        </td>
                        <td style="width: 80px">
                            <input style="width: 80px" id="{{ p[0].id }}_gross" name="{{ p[0].id }}_gross" type="number" min="0" value="{{ p[0].supplier_quantity(gross.id) }}">
                        </td>
                        <td>
                            {{ p[0].other_supplier_quantities() }}
                        </td>
                        <td>
                            {{ p[0].quantity() }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button class="standardbutton tiny blackbutton visible" type="submit" value="filter" name="btn">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Speichern
            </button>
        </form>
    </div>
    <script>

        function find_products(val){
            var letters = /^[0-9A-Za-zÀ-ž\u0370-\u03FF\u0400-\u04FF]+$/;
            if(val.match(letters)) {
                fetch('/center/product/products/find_products/' + val).then(function (response) {
                    response.json().then(function (data) {
                        document.getElementById("product-datalist").innerHTML = data.out;
                    });
                });
            }
        }
        function add_product() {
            var value = document.getElementById('product').value;
            var values = value.split(' - ');
            var type = document.getElementById('product_type').value;
            if (values.length > 2 && !isNaN(Number(values[0])) && !isNaN(Number(values[1])) && !isNaN(Number(values[2]))) {
                if (type === 'id') {
                    var prod_id = document.getElementById('product').value.split(" - ")[0];
                } else if (type === 'Internal_ID') {
                    prod_id = document.getElementById('product').value.split(" - ")[1];
                } else if (type === 'HSP_ID') {
                    prod_id = document.getElementById('product').value.split(" - ")[2];
                }
                var prod_ids = document.getElementById('product_ids');
                if (prod_ids.value.replace(' ', '') === '') {
                    prod_ids.value = prod_id;
                }
                else {
                    prod_ids.value += ';' + prod_id;
                }
            } else {
                var list = document.getElementById("product-datalist").children;
                for (var i = 0; i < list.length; i++) {
                    if (type === 'id') {
                        prod_id = list[i].value.split(" - ")[0];
                    } else if (type === 'Internal_ID') {
                        prod_id = list[i].value.split(" - ")[1];
                    } else if (type === 'HSP_ID') {
                        prod_id = list[i].value.split(" - ")[2];
                    }
                    prod_ids = document.getElementById('product_ids');
                    if (prod_ids.value.replace(' ', '') === '') {
                        prod_ids.value = prod_id;
                    }
                    else {
                        prod_ids.value += ';' + prod_id;
                    }
                }
            }
        }

        function transform_ids(val) {
            old_type = document.getElementById('product_type').value;
            document.getElementById('product_type').value = val;
            ids = document.getElementById('product_ids').value.replace(/(?:\r\n|\r|\n|,)/g, ';');
            fetch('/center/product/dynamic_pricing/transform_ids/'+ids+','+old_type+','+val).then(function (response) {
                response.json().then(function (data) {
                    document.getElementById('product_ids').value = data.ids;
                    if(data.not_found!==''){
                        alert("Die IDs "+data.not_found+" konnten nicht umgewandelt werden.");
                    }
                });
            });
        }
    </script>
{%endblock%}