{% extends 'center/basis.html' %}
{% block title %}Sales{% endblock %}

{% block addsheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/center/orders.css')}}">
{% endblock %}

{% block ext %}
    <div class="box100" style="text-align: left">
        <form action="" method="POST" name="filterform" style="padding-top: 3px">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="checker" value="filter_sales" hidden>
            <div class="splitleft">
                <div class="form-group" style="margin-top: 20px">
                    <label for="product_ids" style="width: 100%">Produkte (IDs an Semikolon trennen!)
                        <div style="float: right">
                            <input type="radio" value="id" id="id" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['orders_sales_filter_infos'] %}
                                    {% if session['orders_sales_filter_infos']['product_id_type'] == 'id' %}
                                        checked
                                    {% endif %}
                                    {% else %}
                                        checked
                                    {% endif %}
                            >
                            <label for="id" style="margin: 0; padding-bottom: 0">ID
                            </label>
                            <input type="radio" value="Internal_ID" id="Internal_ID" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['orders_sales_filter_infos'] %}
                                    {% if session['orders_sales_filter_infos']['product_id_type'] == 'Internal_ID' %}
                                        checked
                                    {% endif %}
                                    {% endif %}
                            >
                            <label for="Internal_ID" style="margin: 0; padding-bottom: 0">Interne ID
                            </label>
                            <input type="radio" value="HSP_ID" id="HSP_ID" class="id_type"
                                   name="id_type" onclick="transform_ids(this.value)"
                                    {% if 'product_id_type' in session['orders_sales_filter_infos'] %}
                                    {% if session['orders_sales_filter_infos']['product_id_type'] == 'HSP_ID' %}
                                        checked
                                    {% endif %}
                                    {% endif %}
                            >
                            <label for="HSP_ID" style="margin: 0; padding-bottom: 0">HSP-ID
                            </label>
                            <input hidden name="product_type" id="product_type" value="{{ session['orders_sales_filter_infos']['product_id_type'] if session['orders_sales_filter_infos']['product_id_type'] else 'id' }}">
                        </div>
                    </label>
                    <textarea rows="4" id="product_ids" style="border: solid 1px black;"  name="product_ids" class="form-control">{% for p in session['orders_sales_filter_infos']['product_ids'] %}{{ p }};{% endfor %}</textarea>
                    <span class="supertiny formwarning" id="product_ids_warning">Keine Eingabe!</span>
                    <div style="position:relative;">
                        <input type="text" name="product" style="border: solid 1px black;"  class="form-control" id="product" list="product-datalist" style="padding-right: 120px" onkeyup="find_products(this.value)">
                        <span class="supertiny formwarning" id="product_warning">Nur Ziffern erlaubt!</span>
                        <datalist id="product-datalist" onmouseover="show_filter_options('product')" onmouseleave="hide_filter_options('product')" >

                        </datalist>
                        <button type="button" class="fromfield_blackbutton" name="btn" onclick="add_product()" id="attributebtn">
                            <i class="fa fa-caret-up" aria-hidden="true"></i> hinzufügen
                        </button>
                    </div>
                </div>
            </div>
            <div class="splitright">
                <table class="table tiny" style="margin-bottom: 0; text-align: left; border: none; box-shadow: none">
                    <thead style="border: none; box-shadow: none">
                        <tr>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                Verkaufsdatum:<br>
                                <label for="min_sale_date"> Min:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="date" name="min_sale_date" id="min_sale_date" value="{{ session['orders_sales_filter_infos']['min_sale_date'].strftime('%Y-%m-%d') }}">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                <label for="max_sale_date"> Max:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="date" name="max_sale_date" id="max_sale_date" value="{{ session['orders_sales_filter_infos']['max_sale_date'].strftime('%Y-%m-%d') }}">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                Releasedatum:<br>
                                <label for="min_release_date"> Min:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="date" name="min_release_date" id="min_release_date" value="{{ session['orders_sales_filter_infos']['min_release_date'].strftime('%Y-%m-%d') if session['orders_sales_filter_infos']['min_release_date'] else None }}">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                <label for="max_release_date"> Max:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="date" name="max_release_date" id="max_release_date" value="{{ session['orders_sales_filter_infos']['max_release_date'].strftime('%Y-%m-%d') if session['orders_sales_filter_infos']['max_release_date'] else None }}">
                            </th>
                        </tr>
                        <tr>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                VK Stückzahl:<br>
                                <label for="min_sale"> Min:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="number" name="min_sale" id="min_sale" value="{{ session['orders_sales_filter_infos']['min_sale'] }}">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                <label for="max_sale"> Max:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="number" name="max_sale" id="max_sale" value="{{ session['orders_sales_filter_infos']['max_sale'] }}">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                Auf Lager:<br>
                                <label for="min_stock"> Min:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="number" name="min_stock" id="min_stock" value="{{ session['orders_sales_filter_infos']['min_stock'] }}">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                <label for="max_stock"> Max:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="number" name="max_stock" id="max_stock" value="{{ session['orders_sales_filter_infos']['max_stock'] }}">
                            </th>
                        </tr>
                        <tr>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                <label for="datalimit_page"> Ergebnisse pro Seite:
                                </label>
                                <input class="form-control tiny" style="border: solid 1px black; display: block; width: 100%;" type="number" name="datalimit_page" id="datalimit_page" value="{{ session['orders_sales_filter_infos']['datalimit_page'] }}">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                            </th>
                            <th style="border: none; box-shadow: none; padding-bottom: 5px;">
                                <button class="standardbutton tiny blackbutton visible" style="float: right; margin: 0" type="submit" value="filter" name="btn">
                                    <i class="fa fa-filter" aria-hidden="true"></i> Filtern
                                </button>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>
        </form>
    </div>
    <div class="box100">
        <div class="box100">
            <div class="box100title">
                {{ result_length }} Treffer
            </div>
            <div class="box100title">
                Seite: <input id="page" type="number" max="{{ (result_length/session['orders_sales_filter_infos']['datalimit_page'])|round(0, 'ceil')|int }}" min="1" value="{{ session['orders_sales_filter_infos']['page'] }}" style="width: 50px" onchange="turnpage(this.value)">
                / {{ (result_length/session['orders_sales_filter_infos']['datalimit_page'])|round(0, 'ceil')|int }}
            </div>
        </div>
        <form name="order_form" action="" method="POST">
            <input type="text" name="checker" value="order_form" hidden>
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <table class="table table-hover tiny" style="text-align: left">
                <thead class="black">
                    <tr>
                        <th class="">

                        </th>
                        <th style="vertical-align: top">
                            <div class="sortable" onclick="sort_results('id')">
                                ID
                                {% if session['orders_sales_filter_infos']['sort'] == 'id' %}
                                    {% if session['orders_sales_filter_infos']['sort_dir'] == 'ASC' %}
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="sortable" onclick="sort_results('hsp_id')">
                                HSP-ID
                                {% if session['orders_sales_filter_infos']['sort'] == 'hsp_id' %}
                                    {% if session['orders_sales_filter_infos']['sort_dir'] == 'ASC' %}
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                            <div class="sortable" onclick="sort_results('internal_id')">
                                Interne-ID
                                {% if session['orders_sales_filter_infos']['sort'] == 'internal_id' %}
                                    {% if session['orders_sales_filter_infos']['sort_dir'] == 'ASC' %}
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </th>
                        <th style="vertical-align: top">
                            <div class="sortable"  onclick="sort_results('name')">
                                Name
                                {% if session['orders_sales_filter_infos']['sort'] == 'name' %}
                                    {% if session['orders_sales_filter_infos']['sort_dir'] == 'ASC' %}
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </th>
                        <th style="vertical-align: top">
                            Aktuelle Aktion
                        </th>
                        <th style="vertical-align: top">
                            VK-Preis
                        </th>
                        <th style="vertical-align: top">
                            Versand
                        </th>
                        <th style="vertical-align: top">
                            Marge
                        </th>
                        <th style="vertical-align: top">
                            <div class="sortable"  onclick="sort_results('num_sales')">
                                VK-Stck.
                                {% if session['orders_sales_filter_infos']['sort'] == 'num_sales' %}
                                    {% if session['orders_sales_filter_infos']['sort_dir'] == 'ASC' %}
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </th>
                        <th style="vertical-align: top">
                            Eigenes Lager<br>
                            EK<br>
                            <div class="sortable"  onclick="sort_results('stock')">
                                Stückzahl
                                {% if session['orders_sales_filter_infos']['sort'] == 'stock' %}
                                    {% if session['orders_sales_filter_infos']['sort_dir'] == 'ASC' %}
                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                    {% else %}
                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </th>
                        <th style="width: 60px;">
                        </th>
                        <th style="width: 60px;">
                        </th>
                        <th style="width: 60px;">
                        </th>
                    </tr>
                </thead>
                <tbody style="border-bottom: solid 1px rgb(222, 226, 230);">
                {% set num = namespace(value=0) %}
                {% if sales %}
                    {% set id = namespace(value=sales[0][0].id) %}
                {% endif %}
                {% for s in sales %}
                    {% if num.value == 0 %}
                    <tr>
                        <td>
                        </td>
                        <td>
                            {{ s[0].id }}<br>
                            {{ s[0].hsp_id }}<br>
                            {{ s[0].internal_id }}
                        </td>
                        <td>
                            {{ s[0].name }}
                            {% if s[0].release_date %}
                                {% if s[0].release_date > today_date %}
                                     <span class="fa-layers fa-fw" style="position: relative; margin-right: 4px">
                                        <i class="fa fa-shopping-cart"></i>
                                        <i class="fa fa-clock-o" style="left: 10px; top: -2px; position: absolute; font-size: 10px;"></i>
                                      </span>
                                {% endif %}
                            {% endif %}
                        </td>
                        <td>
                            <div class="smallbutton visible whitebutton" onclick="window.open('{{ url_for("center_product_pricingactions", id=s[0].id ) }}');event.cancelBubble=true;" style="width: 170px; margin: 2px">
                                {{ s[2].name }}
                            </div>
                        </td>
                        <td>
                            {{ '%0.2f' % s.avg_selling_price|float }} €
                        </td>
                        <td>
                            {{ '%0.2f' % s.avg_shipping_price|float }} €
                        </td>
                        {% set sum = namespace(value=0) %}
                        {% for mp in mps %}
                            {% set sum.value = sum.value + s[0].get_avgmargin_by_mp_sellp_shipp(mp.id, s.avg_selling_price, s.avg_shipping_price, s[mp.name+'_num']) %}
                        {% endfor %}
                        {% if s.num_sales != 0 and sum.value!=0 %}
                            <td {% if sum.value < 0 %}style="background: #fad0cd" {% endif %}>
                                {{ '%0.2f' % (sum.value / s.num_sales) }} %
                            </td>
                        {% else %}
                            <td>
                                -
                            </td>
                        {% endif %}
                        <td>
                            <table>
                                <tr>
                                    {% for mp in mps %}
                                    <td style="padding: 0; border: None" {% if s[mp.name+'_link'] %}class="glow" onclick="open_marketplace_link('{{ s[mp.name+'_link'] }}'); event.cancelBubble=true;"{% endif %}>
                                        <img src="{{ url_for('static', filename='images/foreignicons/' + mp.name + '_icon.png') }}" style="height:15px; width: 15px; margin: 2px">
                                    </td>
                                    {% endfor %}
                                    <td style="padding: 0 5px; border: None;" >
                                        &Sigma;
                                    </td>
                                </tr>
                                <tr>
                                    {% for mp in mps %}
                                        <td style="padding: 0; border: None; text-align: center" >{{ s[mp.name+'_num'] }}</td>
                                    {% endfor %}
                                    <td style="padding: 0 5px; border: None; font-weight: 500">
                                        {{ s.num_sales }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            {{ '%0.2f' % s[0].get_own_buying_price()|float + ' €' if s[0].get_own_buying_price() else '-'}}<br>
                            {{ s.stock - s[0].short_sell*100 }} Stk. {% if s[0].short_sell %}(L-VK){% endif %}
                        </td>
                        <td>
                            {{ '%0.2f' % s.buying_price|float + ' €' }}<br>
                            {{ s.quantity }} Stk.<br>
                            {{ s[1].supplier.get_name() }}<br>
                            <input class="order_field" required min="0" value="0" style="width: 60px;" type="number" name="{{ s[1].supplier.id }}_{{ s[0].id }}">
                            <input hidden name="{{ s[1].supplier.id }}_{{ s[0].id }}_price" value="{{ s.buying_price }}">
                        </td>
                    {% set num.value = num.value + 1 %}
                    {% elif num.value < 3 %}
                        {% if s.id == id.value %}
                            <td>
                                {{ '%0.2f' % s.buying_price|float + ' €' }}<br>
                                {{ s.quantity }} Stk.<br>
                                {{ s[1].supplier.get_name() }}<br>
                                <input class="order_field" required min="0" value="0" style="width: 60px;" type="number" name="{{ s[1].supplier.id }}_{{ s[0].id }}">
                                <input hidden name="{{ s[1].supplier.id }}_{{ s[0].id }}_price" value="{{ s.buying_price }}">
                            </td>
                            {% set num.value = num.value + 1 %}
                        {% else %}
                            {% set id.value = s[0].id %}
                            {% for i in range(3-num.value) %}
                                <td>
                                    - <br>
                                </td>
                            {% endfor %}
                            </tr>
                            <tr>
                                <td>
                                </td>
                                <td>
                                    {{ s[0].id }}<br>
                                    {{ s[0].hsp_id }}<br>
                                    {{ s[0].internal_id }}
                                </td>
                                <td>
                                    {{ s[0].name }}
                                    {% if s[0].release_date %}
                                        {% if s[0].release_date > today_date %}
                                             <span class="fa-layers fa-fw" style="position: relative; margin-right: 4px">
                                                <i class="fa fa-shopping-cart"></i>
                                                <i class="fa fa-clock-o" style="left: 10px; top: -2px; position: absolute; font-size: 10px;"></i>
                                              </span>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>
                                    <div class="smallbutton visible whitebutton" onclick="window.open('{{ url_for("center_product_pricingactions", id=s[0].id ) }}');event.cancelBubble=true;" style="width: 170px; margin: 2px">
                                        {{ s[2].name }}
                                    </div>
                                </td>
                                <td>
                                    {{ '%0.2f' % s.avg_selling_price|float }} €
                                </td>
                                <td>
                                    {{ '%0.2f' % s.avg_shipping_price|float }} €
                                </td>
                                {% set sum = namespace(value=0) %}
                                {% for mp in mps %}
                                    {% set sum.value = sum.value + s[0].get_avgmargin_by_mp_sellp_shipp(mp.id, s.avg_selling_price, s.avg_shipping_price, s[mp.name+'_num']) %}
                                {% endfor %}
                                {% if s.num_sales != 0 and sum.value!=0 %}
                                    <td {% if sum.value < 0 %}style="background: #fad0cd" {% endif %}>
                                        {{ '%0.2f' % (sum.value / s.num_sales) }} %
                                    </td>
                                {% else %}
                                    <td>
                                        -
                                    </td>
                                {% endif %}
                                <td>
                                    <table>
                                        <tr>
                                            {% for mp in mps %}
                                            <td style="padding: 0; border: None" {% if s[mp.name+'_link'] %}class="glow" onclick="open_marketplace_link('{{ s[mp.name+'_link'] }}'); event.cancelBubble=true;"{% endif %}>
                                                <img src="{{ url_for('static', filename='images/foreignicons/' + mp.name + '_icon.png') }}" style="height:15px; width: 15px; margin: 2px">
                                            </td>
                                            {% endfor %}
                                            <td style="padding: 0 5px; border: None;" >
                                                &Sigma;
                                            </td>
                                        </tr>
                                        <tr>
                                            {% for mp in mps %}
                                                <td style="padding: 0; border: None; text-align: center" >{{ s[mp.name+'_num'] }}</td>
                                            {% endfor %}
                                            <td style="padding: 0 5px; border: None; font-weight: 500">
                                                {{ s.num_sales }}
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    {{ '%0.2f' % s[0].get_own_buying_price()|float + ' €' if s[0].get_own_buying_price() else '-'}}<br>
                                    {{ s.stock - s[0].short_sell*100 }} Stk. {% if s[0].short_sell %}(L-VK){% endif %}
                                </td>
                                <td>
                                    {{ '%0.2f' % s.buying_price|float + ' €' }}<br>
                                    {{ s.quantity }} Stk.<br>
                                    {{ s[1].supplier.get_name() }}<br>
                                    <input class="order_field" required min="0" value="0" style="width: 60px;" type="number" name="{{ s[1].supplier.id }}_{{ s[0].id }}">
                                    <input hidden name="{{ s[1].supplier.id }}_{{ s[0].id }}_price" value="{{ s.buying_price }}">
                                </td>
                            {% set num.value = 1 %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if num.value < 3 %}
                    {% for i in range(3-num.value) %}
                        <td>
                            - <br>
                        </td>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
            <input name="active_order_fields" id="active_order_fields" hidden>
            <button class="standardbutton tiny blackbutton visible" type="button" value="order" name="btn" onclick="add_orders()">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> Bestellungen anlegen
            </button>
        </form>
    </div>
    <script>
        function add_orders() {
            var order_fields = document.getElementsByClassName('order_field');
            var active_order_fields = [];
            for (var i = 0; i < order_fields.length; i++) {
                if (order_fields[i].value !== '0' && order_fields[i].value !== '') {
                    active_order_fields.push(order_fields[i].name)
                }
            }
            document.getElementById('active_order_fields').value = active_order_fields.join();
            document.order_form.submit();
        }

        function sort_results(val){
            fetch('/center/orders/sales/sort_results/' + val);
            setTimeout(function() {
                document.filterform.submit();
            }, 200);
        }

        function open_marketplace_link(link) {
            window.open(link, '_blank');
        }

        function find_products(val){
            var letters = /^[0-9A-Za-zÀ-ž\u0370-\u03FF\u0400-\u04FF]+$/;
            if(val.match(letters)) {
                fetch('/center/product/products/find_products/' + val).then(function (response) {
                    response.json().then(function (data) {
                        document.getElementById("product-datalist").innerHTML = data.out;
                    });
                });
            }
        }
        function add_product() {
            var value = document.getElementById('product').value;
            var values = value.split(' - ');
            var type = document.getElementById('product_type').value;
            if (values.length > 2 && !isNaN(Number(values[0])) && !isNaN(Number(values[1])) && !isNaN(Number(values[2]))) {
                if (type === 'id') {
                    var prod_id = document.getElementById('product').value.split(" - ")[0];
                } else if (type === 'Internal_ID') {
                    prod_id = document.getElementById('product').value.split(" - ")[1];
                } else if (type === 'HSP_ID') {
                    prod_id = document.getElementById('product').value.split(" - ")[2];
                }
                var prod_ids = document.getElementById('product_ids');
                if (prod_ids.value.replace(' ', '') === '') {
                    prod_ids.value = prod_id;
                }
                else {
                    prod_ids.value += ';' + prod_id;
                }
            } else {
                var list = document.getElementById("product-datalist").children;
                for (var i = 0; i < list.length; i++) {
                    if (type === 'id') {
                        prod_id = list[i].value.split(" - ")[0];
                    } else if (type === 'Internal_ID') {
                        prod_id = list[i].value.split(" - ")[1];
                    } else if (type === 'HSP_ID') {
                        prod_id = list[i].value.split(" - ")[2];
                    }
                    prod_ids = document.getElementById('product_ids');
                    if (prod_ids.value.replace(' ', '') === '') {
                        prod_ids.value = prod_id;
                    }
                    else {
                        prod_ids.value += ';' + prod_id;
                    }
                }
            }
        }

        function transform_ids(val) {
            old_type = document.getElementById('product_type').value;
            document.getElementById('product_type').value = val;
            ids = document.getElementById('product_ids').value.replace(/(?:\r\n|\r|\n|,)/g, ';');
            fetch('/center/product/dynamic_pricing/transform_ids/'+ids+','+old_type+','+val).then(function (response) {
                response.json().then(function (data) {
                    document.getElementById('product_ids').value = data.ids;
                    if(data.not_found!==''){
                        alert("Die IDs "+data.not_found+" konnten nicht umgewandelt werden.");
                    }
                });
            });
        }

        function turnpage(val){
            fetch('/center/orders/sales/turnpage/' + val).then(function (response) {
                setTimeout(function() {
                    document.filterform.submit();
                }, 200);
            });
        }
    </script>
{%endblock%}