{% extends 'center/orders/index.html' %}
{% block title %}Rechnungen{% endblock %}

{% block ext2 %}
    <div class="container-fluid py-2 big seven text-start">
        Rechnungen
    </div>
    <div class="container-fluid" style="text-align: left">
        <form action="" method="POST" name="filterform">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <input type="text" name="checker" value="filter_sales" hidden>
            <div class="row">
                <div class="col-12 col-md-6 ">
                    <div class="form-group" style="margin-top: 20px">
                        <label for="product_ids" style="width: 100%">Produkte (IDs an Semikolon trennen!)
                            <div style="float: right">
                                <input type="radio" value="id" id="id" class="id_type"
                                       name="id_type" onclick="transform_ids(this.value)"
                                        {% if 'product_id_type' in session['wsi_filter'] %}
                                        {% if session['wsi_filter']['product_id_type'] == 'id' %}
                                            checked
                                        {% endif %}
                                        {% else %}
                                            checked
                                        {% endif %}
                                >
                                <label for="id" style="margin: 0; padding-bottom: 0">ID
                                </label>
                                <input type="radio" value="Internal_ID" id="Internal_ID" class="id_type"
                                       name="id_type" onclick="transform_ids(this.value)"
                                        {% if 'product_id_type' in session['wsi_filter'] %}
                                        {% if session['wsi_filter']['product_id_type'] == 'Internal_ID' %}
                                            checked
                                        {% endif %}
                                        {% endif %}
                                >
                                <label for="Internal_ID" style="margin: 0; padding-bottom: 0">Interne ID
                                </label>
                                <input type="radio" value="HSP_ID" id="HSP_ID" class="id_type"
                                       name="id_type" onclick="transform_ids(this.value)"
                                        {% if 'product_id_type' in session['wsi_filter'] %}
                                        {% if session['wsi_filter']['product_id_type'] == 'HSP_ID' %}
                                            checked
                                        {% endif %}
                                        {% endif %}
                                >
                                <label for="HSP_ID" style="margin: 0; padding-bottom: 0">HSP-ID
                                </label>
                                <input hidden name="product_type" id="product_type" value="{{ session['wsi_filter']['product_id_type'] if session['wsi_filter']['product_id_type'] else 'id' }}">
                            </div>
                        </label>
                        <textarea rows="2" id="product_ids" style="border: solid 1px black;"  name="product_ids" class="form-control">{% for p in session['wsi_filter']['product_ids'] %}{{ p }};{% endfor %}</textarea>
                        <span class="supertiny formwarning" id="product_ids_warning">Keine Eingabe!</span>
                        <div style="position:relative;">
                            <input type="text" name="product" style="border: solid 1px black; padding-right: 120px"  class="form-control" id="product" list="product-datalist" onkeyup="find_products(this.value)">
                            <span class="supertiny formwarning" id="product_warning">Nur Ziffern erlaubt!</span>
                            <datalist id="product-datalist" onmouseover="show_filter_options('product')" onmouseleave="hide_filter_options('product')" >

                            </datalist>
                            <button type="button" class="fromfield_blackbutton" name="btn" onclick="add_product()" id="attributebtn">
                                <i class="fa fa-caret-up" aria-hidden="true"></i> hinzufügen
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 container-fluid">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    Erstellungsdatum:
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="min_init_dt"> Min:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="min_init_dt" id="min_init_dt" value="{{ session['wsi_filter']['min_init_dt'].strftime('%Y-%m-%d') if session['wsi_filter']['min_init_dt']}}">
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100"  for="max_init_dt"> Max:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="max_init_dt" id="max_init_dt" value="{{ session['wsi_filter']['max_init_dt'].strftime('%Y-%m-%d') if session['wsi_filter']['max_init_dt']}}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    Rechnungsdatum:
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="min_invoice_dt"> Min:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="min_invoice_dt" id="min_invoice_dt" value="{{ session['wsi_filter']['min_invoice_dt'].strftime('%Y-%m-%d') if session['wsi_filter']['min_invoice_dt']}}">
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100"  for="max_invoice_dt"> Max:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="max_invoice_dt" id="max_invoice_dt" value="{{ session['wsi_filter']['max_invoice_dt'].strftime('%Y-%m-%d') if session['wsi_filter']['max_invoice_dt']}}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    Ziel-Datum:
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="min_target_dt"> Min:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="min_target_dt" id="min_target_dt" value="{{ session['wsi_filter']['min_target_dt'].strftime('%Y-%m-%d') if session['wsi_filter']['min_target_dt']}}">
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100"  for="max_target_dt"> Max:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="max_target_dt" id="max_target_dt" value="{{ session['wsi_filter']['max_target_dt'].strftime('%Y-%m-%d') if session['wsi_filter']['max_target_dt']}}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row">
                                <div class="col-12">
                                    Zahl-Datum:
                                </div>
                                <div class="col-6">
                                    <label class="w-100" for="min_paid_at"> Min:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="min_paid_at" id="min_paid_at" value="{{ session['wsi_filter']['min_paid_at'].strftime('%Y-%m-%d') if session['wsi_filter']['min_paid_at']}}">
                                    </label>
                                </div>
                                <div class="col-6">
                                    <label class="w-100"  for="max_paid_at"> Max:
                                        <input class="form-control tiny" style="border: solid 1px black" type="date" name="max_paid_at" id="max_paid_at" value="{{ session['wsi_filter']['max_paid_at'].strftime('%Y-%m-%d') if session['wsi_filter']['max_paid_at']}}">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <label for="supplier">
                                Lieferant *
                                <button type="button" style="margin: 0 5px; padding: 2px 7px" class="supertiny standardbutton visible blackbutton" onclick="refresh_suppliers()">
                                    <i class="fa fa-refresh" aria-hidden="true"></i>
                                </button>
                            </label>
                            <a href="{{ url_for('center_addsupplier') }}" style="float: right" target="_blank">
                                <button type="button" class="standardbutton supertiny greenbutton visible" style="margin-bottom: 0; margin-top: 0; padding-top: 3px; padding-bottom: 2px">
                                    <i class="fa fa-plus" aria-hidden="true"></i> neu anlegen
                                </button>
                            </a>
                            <select class="form-control tiny" style="border: solid 1px black; height: 30px" id="supplier" name="supplier">
                                <option value=""></option>
                                {% for supplier in suppliers %}
                                <option id="{{ supplier.id }}" value="{{ supplier.id }}" {% if supplier.id in session['wsi_filter']['supplier_ids'] %}selected{% endif %}>
                                    {% if supplier.isfirm %}
                                        {{ supplier.firmname }}
                                    {% else %}
                                        {{ supplier.salutation }} {{ supplier.firstname }} {{ supplier.name }}
                                    {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-6 col-lg-3">
                            <label for="inv_status">Rechnungstatus:</label><br>
                            <div style="width: 20px; height: 20px;" class='float-start mx-1 text-center rounded-circle bg-secondary'> <input type="radio" id="inv_status" name="inv_status" value="-1" style="position: relative" {% if session['wsi_filter']['inv_status']==-1 %}checked{% endif %}></div>
                            <div style="width: 20px; height: 20px;" class='float-start mx-1 text-center rounded-circle bg-danger'> <input type="radio" id="inv_status" name="inv_status" value="0" style="position: relative" {% if session['wsi_filter']['inv_status']==0 %}checked{% endif %}></div>
                            <div style="width: 20px; height: 20px;" class='float-start mx-1 text-center rounded-circle bg-warning'> <input type="radio" id="inv_status" name="inv_status" value="1" style="position: relative" {% if session['wsi_filter']['inv_status']==1 %}checked{% endif %}></div>
                            <div style="width: 20px; height: 20px;" class='float-start mx-1 text-center rounded-circle bg-success'> <input type="radio" id="inv_status" name="inv_status" value="3" style="position: relative" {% if session['wsi_filter']['inv_status']==3 %}checked{% endif %}></div>
                            <div style="width: 20px; height: 20px;" class='float-start mx-1 text-center rounded-circle'> <input type="radio" id="inv_status" name="inv_status" value="" style="position: relative" {% if session['wsi_filter']['inv_status']==None %}checked{% endif %}></div>
                        </div>
                        <div class="col-6 col-lg-3">
                            <label class="w-100" for="limit_page"> Ergebnisse pro Seite:
                                <input class="form-control tiny" style="border: solid 1px black;" type="number" name="limit_page" id=limit_page" value="{{ session['wsi_filter']['limit_page'] }}">
                            </label>
                        </div>
                        <div class="col-6 col-lg-3">

                        </div>
                        <div class="col-6 col-lg-3">

                        </div>
                        <div class="col-6 col-lg-3">

                        </div>
                        <div class="col-6 col-lg-3">
                            <button class="standardbutton tiny blackbutton visible" style="float: right; margin: 15px 0" type="submit" value="filter" name="btn">
                                <i class="fa fa-filter" aria-hidden="true"></i> Filtern
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="order_by" id="order_by" value="{{ session['wsi_filter']['order_by'] }}"/>
            <input type="hidden" name="order_dir" id="order_dir" value="{{ session['wsi_filter']['order_dir'] }}"/>
            <input type="hidden" name="limit_offset" id="limit_offset" value="{{ session['wsi_filter']['limit_offset'] }}"/>
        </form>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <table class="table table-hover small sortable text-start">
                    <thead class="black">
                        <tr class="">
                            <th class="sortable align-top">
                            </th>
                            <th class="sortable align-top">
                                Erstellungsdatum<br>
                                Rechnungsdatum<br>
                                Ziel-datum<br>
                                Zahl-datum<br>
                            </th>
                            <th class="sortable align-top">
                                ID - Bezeichnung<br>
                                Rechnungsnummer<br>
                                Lieferant
                            </th>
                            <th class="sortable align-top">
                                Positionen<br>
                                Produkte
                            </th>
                            <th class="sortable align-top">
                                Summe netto<br>
                                Summe brutto
                            </th>
                            <th class="sortable align-top">
                            </th>
                        </tr>
                    </thead>
                    <tbody id="t_body" style="border-bottom: solid 1px rgb(222, 226, 230);">
                    </tbody>
                </table>
                <div id="loader" class="box100" style="position: relative; height: 200px">
                    <div class="loader"></div>
                </div>
                <button class="standardbutton greenbutton visible" onclick="window.open('{{ url_for('center_ws_invoice', wsi_id=0) }}')">
                    <i class="fa fa-plus" aria-hidden="true"></i> Rechnung hinzufügen
                </button>
            </div>
        </div>
    </div>
    <script>
        fetch('/center/orders/ws_invoices/load').then(function (response) {
            console.log(response);
            response.json().then(function (data) {
                let table_body = document.getElementById('t_body');
                for (let i = 0; i < data.data.length; i++) {
                    let wsi = data.data[i];
                    let t_row = table_body.insertRow();
                    t_row.style.background = wsi.paid ? '#caf0c7' : '';
                    t_row.className = "trclick";
                    t_row.id = "wsi_" + wsi.id;
                    t_row.setAttribute('data-id', wsi.id);
                    t_row.onclick = function() {window.open('/center/orders/ws_invoice/' + this.getAttribute('data-id'));};
                    let del_cell = t_row.insertCell();
                    del_cell.innerHTML = '<button class="smallbutton redbutton visible" onclick="delete_wsi([\'' + wsi.id + '\']); event.cancelBubble=true;"><i class="fa fa-trash"></i></button>';
                    let dt_cell = t_row.insertCell();
                    dt_cell.innerHTML = wsi.init_dt + '<br>' + wsi.invoice_dt + '<br>' + wsi.target_dt + '<br>' + wsi.paid_at;
                    let wsr_id_cell = t_row.insertCell();
                    wsr_id_cell.innerHTML = wsi.id + ' - ' +  wsi.name + '<br>' + wsi.invoice_number + '<br>' + wsi.supplier_name;
                    let positions_cell = t_row.insertCell();
                    positions_cell.innerHTML = wsi.positions + '<br>' + wsi.products;
                    let price_cell = t_row.insertCell();
                    price_cell.innerHTML = wsi.net_price + '<br>' + wsi.gross_price;
                    let check_inv_cell = t_row.insertCell();
                    let inv_status = document.createElement('div');
                    inv_status.style.height = '18px';
                    inv_status.style.width = '18px';
                    if (wsi.inv_status <= -1) {
                        inv_status.className = 'rounded-circle bg-secondary float-start';
                    }
                    else if (wsi.inv_status === 0) {
                        inv_status.className = 'rounded-circle bg-danger float-start';
                    }
                    else if (wsi.inv_status === 1 || wsi.inv_status === 2) {
                        inv_status.className = 'rounded-circle bg-warning float-start';
                    }
                    else {
                        inv_status.className = 'rounded-circle bg-success float-start';
                    }
                    check_inv_cell.appendChild(inv_status);
                    let wsr_button = document.createElement('button');
                    wsr_button.className = 'smallbutton blackbutton supertiny visible mx-1 px-1.5 float-start';
                    wsr_button.innerHTML = '<i class="fa fa-cubes"></i>';
                    wsr_button.setAttribute('data-wsr_id', wsi.wsr_id);
                    if (wsi.wsr_id !== '') {
                        wsr_button.onclick = function() {event.cancelBubble = true; window.open('/center/orders/ws_receipt/' + this.getAttribute('data-wsr_id'));};
                        wsr_button.title = 'Wareneingang ' + wsi.wsr_id;
                    }
                    else {
                        wsr_button.onclick = function() {event.cancelBubble = true; alert('Kein Wareneingang zugeordnet.');};
                        wsr_button.title = 'Kein Wareneingang zugeordnet.';
                    }
                    check_inv_cell.appendChild(wsr_button);
                }
                // document.getElementById('all_results_upper').innerText = data.pages;
                // document.getElementById('all_results_lower').innerText = data.pages;
                // document.getElementById('results').innerText = data.results + ' Treffer';
            });
            document.getElementById('loader').style.display = 'None';
        });

        function delete_wsi(wsi_ids) {
            darken();
            $.ajax({
                url: "{{ url_for('api.logistics.ws_invoice.delete') }}",
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: JSON.stringify(wsi_ids),
                success: function (response) {
                    let result = response.result;
                    for (let i = 0; i < result.length; i++) {
                        let row = document.getElementById("wsi_" + result[i]);
                        row.parentNode.removeChild(row);
                    }
                    lighten();
                    show_msg('Update erfolgreich.', 'success');
                },
                error: function(response) {
                    lighten();
                    show_msg('Es ist ein Fehler aufgetreten.<br>' + response.message, 'danger');
                }
            });
        }

        function refreshsuppliers() {
            fetch('/center/orders/get_suppliers/').then(function (response) {
                response.json().then(function (data) {
                    document.getElementById("supplier").innerHTML = data.out;
                });
            });
        }
    </script>
{%endblock%}