{% extends 'center/basis.html' %}
{% block title %}Pricing-Aktionen - {{ product.name }}{% endblock %}

{% block addsheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/center/products.css')}}">
{% endblock %}

{% block ext %}
    <div class="white tiny box100" style="text-align: left; position: relative">
        <a class="blackfont" href="{{ url_for('center_product_product', id=product.id) }}">
            <div class="submenu five">
                Produkt-Attribute
            </div>
        </a>
        <a class="blackfont" href="{{ url_for('center_product_features', id=product.id) }}">
            <div class="submenu five">
                Produkt-Features
            </div>
        </a>
        <a class="blackfont" href="{{ url_for('center_product_marketplace_data', id=product.id) }}">
            <div class="submenu five">
                Marketplace-Attribute
            </div>
        </a>
        <a class="blackfont" href="{{ url_for('center_product_pricingactions', id=product.id) }}">
            <div class="submenu five">
                Pricing-Aktionen
            </div>
        </a>
        <div class="submenu five lightgrey">
            Konkurrenz-Daten
        </div>
    </div>
    <div class="visible white small box100 " style="text-align: left; position: relative;">
        <div class="big box100title" style="text-align: left">
            {{ product.name }} <span class="small"><i>({{ product.hsp_id_type }}: {{ product.hsp_id }})</i></span><br>
            <div class="standardbutton blackbutton small visible" onclick="openlinks()" style="margin-left: 0">
                <i class="fa fa-external-link" aria-hidden="true"></i> Externe Links
            </div>
        </div>
    </div>
    {% for mpa in product.marketplace_attributes %}
        {% if mpa.marketplace.extoffers|length > 0 %}
            <div class="visible grey regbig box100" style="text-align: left; position: relative">
                <div class="box100title">
                    Konkurrenz-Angebote
                </div>
            </div>
            <div class="visible white tiny box100" style="text-align: left; position: relative;">
                <div class="box100title reg five" style="text-align: left">
                    {{  mpa.marketplace.name }}
                    {% if mpa.marketplace.get_productlink(product.id) and mpa.marketplace.name=='Idealo' %}
                        <div style="float: right">
                            <label for="ext_idealo_watch_active">
                                <input type="checkbox" id="ext_idealo_watch_active" {% if mpa.marketplace.get_productlink(product.id).ext_idealo_watch_active %}checked{% endif %} onchange="ext_idealo_watch();event.cancelBubble=true;">
                                Konkurrenz-Beobachtung aktiv
                            </label>
                        </div>
                    {% endif %}
                </div>
                <form action="" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <input type="text" name="checker" value="filter_extoffers" hidden/>
                    <input type="text" name="marketplace" value="{{ mpa.marketplace.id }}" hidden/>
                    <table class="table" style="margin-bottom: 0">
                        <thead>
                            <tr>
                                <th style="width: 80px">
                                    <span class="regbig"><i>Filter:</i></span>
                                </th>
                                <th style="width: 180px">
                                    <div class="table_top_filter" id="start-top_filter" onclick="show_filter_options('start')" onmouseover="show_filter_options('start')" onmouseleave="hide_filter_options('start')">
                                        <span id="start-filter_inner"><i class="fa fa-caret-down" aria-hidden="true"></i> Start{% if start != '' %}: {{ start }}{% endif %}</span>
                                        <div class="table_top_filter-dropdown" id="start-top_filter-dropdown" onmouseover="show_filter_options('start')" onmouseleave="hide_filter_options('start')">
                                            <input id="start" type="date" name="start" class="form-control tiny" onchange="defocus('start')" value="{{ start }}">
                                        </div>
                                    </div>
                                </th>
                                <th style="width: 180px">
                                    <div class="table_top_filter" id="end-top_filter" onclick="show_filter_options('end')" onmouseover="show_filter_options('end')" onmouseleave="hide_filter_options('end')">
                                        <span id="end-filter_inner"><i class="fa fa-caret-down" aria-hidden="true"></i> Ende{% if end != '' %}: {{ end }}{% endif %}</span>
                                        <div class="table_top_filter-dropdown" id="end-top_filter-dropdown" onmouseover="show_filter_options('end')" onmouseleave="hide_filter_options('end')">
                                            <input id="end" type="date" name="end" class="form-control tiny" onchange="defocus('end')" value="{{ end }}">
                                        </div>
                                    </div>
                                </th>
                                <th>
                                    <button class="standardbutton tiny blackbutton visible" style="margin:0" type="submit" value="filter" name="btn">
                                        <i class="fa fa-filter" aria-hidden="true"></i> Filtern
                                    </button>
                                </th>
                            </tr>
                        </thead>
                    </table>
                    <div class="box100">
                        <div class="box100title">
                            <span class="small seven">{{ offers|length }} Ergebnisse</span>
                        </div>
                    </div>
                    <table class="table table-hover tiny sortable" style="text-align: left; margin-top: 0">

                        <thead class="black">
                            <tr>
                                <th class="sortable">
                                    ID
                                </th>
                                <th class="sortable">
                                    Verkäufer
                                </th>
                                <th class="sortable">
                                    Plattform
                                </th>
                                <th class="sortable">
                                    Preis (inkl. Versand)
                                </th>
                                <th class="sortable">
                                    Preis (ohne Versand)
                                </th>
                                <th class="sortable">
                                    Versandkosten
                                </th>
                                <th class="sortable">
                                    Lieferzeit
                                </th>
                                <th class="sortable">
                                    Eintragsdatum
                                </th>
                                <th class="sortable">
                                    Zuletzt gesehen
                                </th>
                            </tr>
                        </thead>
                        <tbody style="border-bottom: solid 1px rgb(222, 226, 230);">
                            {% for offer in offerdict[mpa.marketplace.id] %}
                            <tr>
                                <td>{{ offer.id }}</td>
                                <td>{{ offer.extseller.name }}</td>
                                <td>{{ offer.extplatform.name }}</td>
                                <td>{{'%0.2f' % (offer.selling_price+offer.shipping_price)|float}}</td>
                                <td>{{'%0.2f' % (offer.selling_price)|float}}</td>
                                <td>{{ '%0.2f' % offer.shipping_price|float }}</td>
                                <td>{{  offer.delivery_time }}</td>
                                <td>{{  offer.init_date.strftime('%d.%m.%Y - %H:%M') }}</td>
                                <td>{{  offer.last_seen.strftime('%d.%m.%Y - %H:%M') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        {% endif %}
    {% endfor %}
    <script>
        function block_price(mpa_id) {
            var obj = document.getElementById('block_selling_price'+mpa_id);
            document.getElementById('selling_price' + mpa_id).disabled = obj.checked === true;
            fetch('/center/product/block_selling_price/' + mpa_id);
        }

        function ext_idealo_watch() {
            fetch('{{ url_for('center_product_ext_idealo_watch', product_id=product.id) }}');
        }

        function get_performance(mpa_id, marketplace_id) {
            var shipping_type = document.getElementsByName('shipping_type');
            for (var j = 0; j < shipping_type.length; j++) {
                if (shipping_type[j].checked === true){
                    var customer_shipping = document.getElementById(shipping_type[j].value + mpa_id).value;
                    var customer_shipping_pythonfloat = customer_shipping.replace(",", ".").replace("€", "");
                    var own_shipping = document.getElementById(shipping_type[j].value).value;
                    var own_shipping_pythonfloat = own_shipping.replace(",", ".").replace("€", "");
                }
            }
            var commission = document.getElementById('commission' + mpa_id).value;
            var commission_pythonfloat = commission.replace(",", ".").replace("€", "");
            var price = document.getElementById('selling_price' + mpa_id).value;
            var price_pythonfloat = price.replace(",", ".").replace("€", "");
            fetch('/center/product/get_performance/' + {{ product.id }} + ',' + marketplace_id + ',' + price_pythonfloat + ',' + customer_shipping_pythonfloat + ',' + own_shipping_pythonfloat + ',' + commission_pythonfloat).then(function (response) {
                    response.json().then(function (data) {
                        document.getElementById("priceformula"+mpa_id).innerText = data.out.slice(1, -1);
                    });
                });
        }

        function update_price(marketplace_id, pricefield_id) {
            document.getElementById('price_update_message').className = 'alert alert-success small visible';
            var price = document.getElementById(pricefield_id).value;
            var price_pythonfloat = price.replace(",", ".").replace("€", "");
            fetch('/center/product/marketplace_data/update_price/' + {{ product.id }} + ',' + marketplace_id + ',' + price_pythonfloat).then(function (response) {
                response.json().then(function (data) {
                    document.getElementById('price_update_message').innerText = data.msg;
                    document.getElementById('price_update_message').className = 'alert alert-success small visible messagedown';
                    setTimeout(function () {
                        document.getElementById('price_update_message').className = 'alert alert-success small visible';
                    }, 6000)
                });
            });
        }

        function checkform(){
            start = document.getElementById('strat_start');
            end = document.getElementById('strat_end');
            margin = document.getElementById('margin');

            if (start.value == ''
                || end.value == ''
                || margin.value == ''
            ){
                if(start.value == '') {
                    document.getElementById('start_warning').style.opacity = '1';
                    start.style.borderColor = '#a54843';
                }
                if(end.value == '') {
                    document.getElementById('end_warning').style.opacity = '1';
                    end.style.borderColor = '#a54843';
                }
                if(margin.value == '') {
                    document.getElementById('margin_warning').style.opacity = '1';
                    margin.style.borderColor = '#a54843';
                }
            }else{
                margin = margin.value;
                margin = margin.replace(',','.').replace(' ','');
                margin = Number(margin);
                if (!isNaN(margin)) {
                    document.getElementById('form_2').submit();
                }else{
                    document.getElementById('margin_format_warning').style.opacity = '1';
                    document.getElementById('margin').style.borderColor = '#a54843';

                }
            }
        }
        function defocus(type){
            document.activeElement.blur();
            obj = document.getElementById(type);
            setTimeout(function () {
                if (! $(obj).is(':focus')){
                    document.getElementById(type+'-top_filter-dropdown').style.opacity = '0.0';
                    setTimeout(function () {
                        document.getElementById(type+'-top_filter-dropdown').style.display = 'None';
                    }, 100);
                }}, 200);
            if (type =='start'){
                document.getElementById('start-filter_inner').innerHTML = '<i class="fa fa-caret-down" aria-hidden="true"></i> Start: '+obj.value;
                document.getElementById('end').setAttribute("min", obj.value);
            }
            else if (type =='end'){
                document.getElementById('end-filter_inner').innerHTML = '<i class="fa fa-caret-down" aria-hidden="true"></i> Ende: '+obj.value;
                document.getElementById('start').setAttribute("max", obj.value);
            }
        }

        function selectall(check, type) {
            all = document.getElementsByClassName(type+"_filter");
            if (check==true){
                for (i=0; i < all.length ; i++){
                    all[i].checked = true;
                    }
                }
            else{
                for (i=0; i < all.length ; i++){
                    all[i].checked = false;
                    }
                }

        }
        function show_filter_options(type){
            document.getElementById(type+'-top_filter-dropdown').style.display = 'Block';
            setTimeout(function () {
                document.getElementById(type+'-top_filter-dropdown').style.opacity = '1.0';
            }, 100);
        }

        function hide_filter_options(type){
            obj = document.getElementById(type);
            setTimeout(function () {
                if (! $(obj).is(':focus')){
                    document.getElementById(type+'-top_filter-dropdown').style.opacity = '0.0';
                    setTimeout(function () {
                        document.getElementById(type+'-top_filter-dropdown').style.display = 'None';
                    }, 100);
                }}, 200);
            if (! $(obj).is(':focus')){
                document.getElementById(type+'-top_filter-dropdown').style.opacity = '0.0';
                setTimeout(function () {
                    document.getElementById(type+'-top_filter-dropdown').style.display = 'None';
                }, 100);
            }
        }
        function show_pricingaction(id){
            window.open('/center/product/pricingaction/'+ id, '_blank');
        }

        function openlinks(){
            {% for link in product.links if link and link.link!='-' and link.link!=''%}
            window.open('{{ link.link }}', '_blank');
            {% endfor %}
        }
    </script>
{%endblock%}