{% extends 'center/basis.html' %}
{% block title %}Login{% endblock %}

{% block addsheets %}
{% endblock %}

{% block ext %}
    <div class="visible white small fixbox500" style="text-align: left; padding-bottom: 75px">
        <div class="big box500title">Neues Passwort</div>
        <form action="" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" class="form-control" value="{{request.form.username}}">
            </div>
            <div class="form-group">
                <label for="oldpassword">Altes Passwort:</label>
                <input type="password" name="oldpassword" id="oldpassword" class="form-control" value="{{request.form.oldpassword}}">
            </div>
            <div class="form-group">
                <label for="password">Neues Passwort:</label>
                <input type="password" name="password" id="password" class="form-control" onkeyup="lowerbound_warning(this, 8); match_warning(['passwordconfirm'],['password','passwordconfirm'])">
                <span class="supertiny formwarning" id="password_warning">Mindestens 8 Zeichen</span>
            </div>
            <div class="form-group">
                <label for="passwordconfirm">Neues Passwort bestätigen:</label>
                <input type="password" name="passwordconfirm" id="passwordconfirm" class="form-control" value="{{request.form.passwordconfirm}}" onkeyup="match_warning(['passwordconfirm'],['password','passwordconfirm'])">
                <span class="supertiny formwarning" id="passwordconfirm_warning">Passwörter stimmen nicht überein.</span>
            </div>
            <a class="tiny" href="{{ url_for('center_forgotpassword') }}">Passwort vergessen?</a>
            <div class="small buttonholder">
                <a href="{{ url_for('center_login')}}">
                    <button type="button" class="standardbutton redbutton visible" style="display: inline-block; margin-right: 15px">
                        <i class="fa fa-reply" aria-hidden="true"></i> zurück
                    </button>
                </a>
                <button type="submit" class="standardbutton blackbutton visible " style="display: inline-block">
                    <i class="fa fa-floppy-o" aria-hidden="true"></i> speichern
                </button>
            </div>
        </form>
    </div>
{%endblock%}