{% extends 'index.html' %}
{% block title %}Versand - {{ shipping_service.name }}{% endblock %}

{% block addsheets %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/center/settings.css')}}?v=5">
{% endblock %}

{% block ext2 %}
    <form action="" method="POST" id="form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="visible white small box100" style="text-align: left; overflow: hidden;">
            <div class="big box100title" style="text-align: left">
                {{ shipping_service.name }}
                <input id="name" type="text" name="name" class="form-control tinyhead" value="{{ shipping_service.name }}">
            </div>
        </div>
        <div class="visible white small box100" style="text-align: left; overflow: hidden;">
            <div class="splitleft">
                {% for marketplace in marketplaces %}
                    <div class="form-group">
                        <label for="code_{{ marketplace.id }}">{{ marketplace.name }}</label>
                        <input type="text" id="code_{{ marketplace.id }}" name="code_{{ marketplace.id }}" class="form-control" value="{{ labels[marketplace.id] if marketplace.id in labels else ''}}">
                    </div>
                {% endfor %}
            </div>
            <div class="splitright" style="padding-bottom: 75px">
                <div class="form-group" style="height: 67px">
                    <div style="width: 50%; padding-right: 10px; float: left; position: relative">
                        <label for="provider">Dienstleister:</label>
                        <input id="provider" type="text" name="provider" maxlength="80" class="form-control tinyhead" list="shipping_providers" value="{{ shipping_service.provider.name }}">
                        <datalist id="shipping_providers">
                            {% for provider in shipping_providers %}
                            <option value="{{ provider.name }}">{{ provider.name }}</option>
                            {% endfor %}
                        </datalist>
                    </div>
                    <div style="width: 50%; padding-left: 10px; float: left; position: relative">
                        <label for="internal_id">Interne ID:</label>
                        <input id="internal_id" type="text" name="internal_id" maxlength="50" class="form-control tinyhead" value="{{ shipping_service.internal_id }}">
                    </div>
                </div>
                <div class="form-group">
                    <div style="width: 50%; padding-right: 10px; float: left; position: relative">
                        <label for="min_days">Min. Tage</label>
                        <input type="number" id="min_days" name="min_days" step="1" class="form-control" value="{{ shipping_service.min_days }}">
                        <span class="supertinyhead formwarning" id="name_warning">Keine Eingabe</span>
                    </div>
                    <div style="width: 50%; padding-left: 10px; float: left; position: relative">
                        <label for="max_days">Max. Tage</label>
                        <input type="number" id="max_days" name="max_days" step="1" class="form-control" value="{{ shipping_service.max_days }}">
                        <span class="supertinyhead formwarning" id="name_warning">Keine Eingabe</span>
                    </div>
                </div>
                <div class="form-group">
                    <div style="width: 50%; padding-right: 10px; float: left">
                        <label for="price">Preis</label>
                        <input type="number" id="price" name="price" step="0.01" class="form-control" value="{{ shipping_service.price }}">
                        <span class="supertinyhead formwarning" id="name_warning">Keine Eingabe</span>
                    </div>
                    <div style="width: 50%; padding-left: 10px; float: left">
                        <label for="weight_kg">Gewicht in kg</label>
                        <input type="number" id="weight_kg" name="weight_kg" step="0.001" class="form-control" value="{{ shipping_service.weight_kg }}" >
                        <span class="supertinyhead formwarning" id="name_warning">Keine Eingabe</span>
                    </div>
                </div>
                <div class="form-group">
                    <div style="width: 33.3%; padding-right: 10px; float: left">
                        <label for="length_mm">Länge in mm.</label>
                        <input type="number" id="length_mm" name="length_mm" step="0.01" class="form-control" value="{{ shipping_service.length_mm }}">
                        <span class="supertinyhead formwarning" id="name_warning">Keine Eingabe</span>
                    </div>
                    <div style="width: 33.3%; padding: 0 10px; float: left">
                        <label for="width_mm">Breite in mm.</label>
                        <input type="number" id="width_mm" name="width_mm" step="1" class="form-control" value="{{ shipping_service.width_mm }}" >
                        <span class="supertinyhead formwarning" id="name_warning">Keine Eingabe</span>
                    </div>
                    <div style="width: 33.3%; padding-left: 10px; float: left">
                        <label for="height_mm">Höhe in mm.</label>
                        <input type="number" id="height_mm" name="height_mm" step="1" class="form-control" value="{{ shipping_service.height_mm }}" >
                        <span class="supertinyhead formwarning" id="name_warning">Keine Eingabe</span>
                    </div>
                </div>
                <div class="form-group">
                    <div style="width: 50%; padding-right: 10px; float: left">
                        <label for="shipping_type">Typ:</label>
                        <select id="shipping_type" name="shipping_type" class="form-control tinyhead">
                            <option value="national" {% if not shipping_service.international %}selected{% endif %}>national</option>
                            <option value="international" {% if shipping_service.international %}selected{% endif %}>international</option>
                        </select>
                    </div>
                    <div style="width: 50%; padding: 18px 0 0 10px; float: left">
                        <label for="signature"><input id="signature" type="checkbox" name="check" value="signature" {% if shipping_service.signature == True %}checked{% endif %}> Unterschrift</label><br>
                        <label for="tracking"><input id="tracking" type="checkbox" name="check" value="tracking" {% if shipping_service.tracking == True %}checked{% endif %}> Tracking</label>
                    </div>
                </div>
                <div class="small buttonholder">
                    <button type="button" class="standardbutton redbutton visible" style="display: inline-block; margin-right: 15px">
                        <i class="fa fa-reply" aria-hidden="true"></i> zurück
                    </button>
                    <button name="btn" type="submit" class="standardbutton blackbutton visible" value="basic" style="display: inline-block">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> speichern
                    </button>
                </div>
            </div>
        </div>
    </form>
    <div class="black box100">
        <div class="box100title regbig black">
            Versand-Gebiete
        </div>
    </div>
    <div class="visible white small box100" style="text-align: left; overflow: hidden;">
        <form action="" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            <div class="splitleft" style="height: 500px; overflow-y: scroll">
                <div class="regbig box100title" style="text-align: left">
                    Regionen
                </div>
                <div class="splitleft">
                    <div class="reg box500title" style="text-align: left">
                        <b>+</b>
                    </div>
                    {% for region in regions %}
                        <label for="region_{{ region.id }}">
                            <input type="checkbox" name="region" value="{{ region.id }}" id="region_{{ region.id }}" {% if region.id in ssr_s %}checked{% endif %} onchange="add_region(this, '{{ region.id }}', '')"> {{ region.name }}
                        </label>
                        <br>
                    {% endfor %}
                </div>
                <div class="splitright">
                    <div class="reg box500title" style="text-align: left">
                        <b>-</b>
                    </div>
                    {% for region in regions %}
                        <label for="not_region_{{ region.id }}">
                            <input type="checkbox" name="not_region" value="{{ region.id }}" id="not_region_{{ region.id }}" {% if region.id in ssr_nots %}checked{% endif %} onchange="add_region(this, '{{ region.id }}', 'not')"> {{ region.name }}
                        </label>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <div class="splitright" style="height: 500px; overflow-y: scroll">
                <div class="regbig box100title" style="text-align: left">
                    Länder
                </div>
                <div class="splitleft">
                    <div class="reg box500title" style="text-align: left">
                        <b>+</b>
                    </div>
                    {% for country in countries %}
                        <label for="country_{{ country.id }}">
                            <input type="checkbox" name="country" value="{{ country.id }}" class="region_{{ country.region_id }}" id="country_{{ country.id }}" {% if country.id in ssc_s %}checked{% endif %}> {{ country.name }}
                        </label>
                        <br>
                    {% endfor %}
                </div>
                <div class="splitright">
                    <div class="reg box500title" style="text-align: left">
                        <b>-</b>
                    </div>
                    {% for country in countries %}
                        <label for="not_country_{{ country.id }}">
                            <input type="checkbox" name="not_country" value="{{ country.id }}" class="not_region_{{ country.region_id }}" id="not_country_{{ country.id }}" {% if country.id in ssc_nots %}checked{% endif %}> {{ country.name }}
                        </label>
                        <br>
                    {% endfor %}
                </div>
            </div>
            <button name="btn" type="submit" class="standardbutton blackbutton visible" value="area" style="display: inline-block; float: right">
                <i class="fa fa-floppy-o" aria-hidden="true"></i> speichern
            </button>
        </form>
    </div>
    <div class="box100" style="min-height: 100px"></div>
    <script>
        function add_region(self, region_id, not) {
            var countries = document.getElementsByClassName('region_' + region_id);
            var not_countries = document.getElementsByClassName('not_region_' + region_id);
            if (self.checked === true) {
                if (not === 'not'){
                    var region = document.getElementById('region_' + region_id);
                    region.checked = false;
                    for (i=0; i < countries.length ; i++) {
                        countries[i].checked = false;
                        not_countries[i].checked = true;
                    }
                }
                else {
                    var not_region = document.getElementById('not_region_' + region_id);
                    not_region.checked = false;
                    for (i=0; i < not_countries.length ; i++){
                        not_countries[i].checked = false;
                        countries[i].checked = true;
                    }
                }
            }
            else {
                if (not === 'not'){
                    for (i=0; i < countries.length ; i++) {
                        not_countries[i].checked = false;
                    }
                }
                else {
                    for (i=0; i < not_countries.length ; i++){
                        countries[i].checked = false;
                    }
                }

            }
        }
    </script>
{%endblock%}