{% extends 'center/sales/sales_basis.html' %}
{% block title %}Sales-Dashboard{% endblock %}

{% block addsheets %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js" integrity="sha512-Wt1bJGtlnMtGP0dqNFH1xlkLBNpEodaiQ8ZN5JLA5wpc1sUlk/O5uuOMNgvzddzkpvZ9GLyYNa8w2s7rqiTk5Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block ext2 %}
    <div class="container-fluid">
        <h2 class="text-start py-1">Dashboard</h2>
        <div class="row align-center">
            <div class="col-12">
                <input type="hidden" id="selected_wss" value="all">
                <input type="radio" class="mx-1" name="wss_filter" value="all" checked onclick="swap_wss_view(this)" style="cursor: pointer">
                {% for mp in mps %}
                    <input type="radio" class="mx-1" name="wss_filter" value="{{ mp.name }}" onclick="swap_wss_view(this)" style="cursor: pointer">
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="lightgrey visible" id="wss_all" style="transition: 200ms">
                    <h4>Pünktlichkeit nach KW - Gesamt</h4>
                    <canvas id="weekly_shipping_success"></canvas>
                </div>
                {% for mp in mps %}
                    <div class="lightgrey visible" id="wss_{{ mp.name }}" style="opacity: 0; display: None; transition: 200ms">
                        <h4>Pünktlichkeit nach KW - {{ mp.name }}</h4>
                        <canvas id="weekly_{{ mp.name }}_shipping_success"></canvas>
                    </div>
                {% endfor %}
            </div>
            <div class="col-6">
                <div class="lightgrey visible" id="wss_summary_all">
                    <table class="table">
                        <thead>
                            <tr class="black">
                                <th colspan="4">Gesamt</th>
                            </tr>
                            <tr class="text-start">
                                <th>KW</th>
                                <th>Rate</th>
                            </tr>
                        </thead>
                        <tbody class="text-start">
                            {% for key in summary %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ '%0.2f' % (100*summary[key][True]/(summary[key][False]+summary[key][True])) }} %</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% for mp in mps %}
                    <div class="lightgrey visible" id="wss_summary_{{ mp.name }}" style="opacity: 0; display: None">
                        <table class="table">
                            <thead>
                                <tr class="black">
                                    <th colspan="2">{{ mp.name }}</th>
                                </tr>
                                <tr class="text-start">
                                    <th>KW</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>
                            <tbody class="text-start">
                                {% for key in mp_summary[mp.name] %}
                                    <tr>
                                        <td>{{ key }}</td>
                                        <td>
                                            {% if mp_summary[mp.name][key][False]+mp_summary[mp.name][key][True] > 0 %}
                                                {{ '%0.2f' % (100*mp_summary[mp.name][key][True]/(mp_summary[mp.name][key][False]+mp_summary[mp.name][key][True])) }} %
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row my-2">
            <div class="col-6">
                <div class="lightgrey visible">
                    <h4>Zu Versenden</h4>
                    <canvas id="to_send_14"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="lightgrey visible" id="send_summary">
                    <table class="table">
                        <thead>
                            <tr class="black">
                                <th colspan="5">Übersicht</th>
                            </tr>
                            <tr class="text-start">
                                <th>Datum</th>
                                <th>Gesamt</th>
                                <th>Eigenes Lager</th>
                                <th>Fremd-Lager</th>
                                <th>PreOrder</th>
                            </tr>
                        </thead>
                        <tbody class="text-start">
                            {% for key in send_summary %}
                                <tr>
                                    <td>{{ key }}</td>
                                    <td>{{ send_summary[key]['count'] }}</td>
                                    <td>{{ send_summary[key]['count'] - send_summary[key]['short_sell'] }}</td>
                                    <td>{{ send_summary[key]['short_sell'] - send_summary[key]['pre_order'] }}</td>
                                    <td>{{ send_summary[key]['pre_order'] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        var csrftoken = $('meta[name=csrf-token]').attr('content');

        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        });
        let wss_graph = document.getElementById("weekly_shipping_success").getContext('2d');
        let data = {
            labels: {{ weeks|safe }},
            datasets: [
                {
                    label: "on time",
                    backgroundColor: 'rgb(49, 181, 75)',
                    data: {{ wss_dict[True] }}
                },
                {
                    label: "late",
                    backgroundColor: "tomato",
                    data: {{ wss_dict[False] }}
                }
            ]
        };

        let myBarChart = new Chart(wss_graph, {
            type: 'bar',
            data: data,
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }]
                },
                onClick: graphClickEvent
            }
        });

        function graphClickEvent(event, array) {
            if (array[0]) {
                console.log(array[0].datasetIndex);
                console.log(array[0].index);
                $.ajax({
                    url: "{{ url_for('center_sales_redirect') }}",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    data: JSON.stringify({'index': array[0].index, 'punctual': array[0].datasetIndex === 0}),
                    success: function (data) {
                        window.open('{{ url_for("center_sales_sales") }}')
                    }
                });

            }
        }
        {% for mp in mps %}
        let wss_{{ mp.name }}_graph = document.getElementById("weekly_{{ mp.name }}_shipping_success").getContext('2d');
        let {{ mp.name }}_data = {
            labels: {{ weeks|safe }},
            datasets: [
                {
                    label: "on time",
                    backgroundColor: 'rgb(49, 181, 75)',
                    data: {{ wss_mp_dict[mp.name][True] }}
                },
                {
                    label: "late",
                    backgroundColor: "tomato",
                    data: {{ wss_mp_dict[mp.name][False] }}
                }
            ]
        };

        let myBarChart_{{ mp.name }} = new Chart(wss_{{ mp.name }}_graph, {
            type: 'bar',
            data: {{ mp.name }}_data,
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            min: 0,
                        }
                    }]
                }
            }
        });
        {% endfor %}
        let to_send_14_graph = document.getElementById("to_send_14").getContext("2d");
        let to_send_14_constr = new Chart(to_send_14_graph, {
            type: 'bar',
            data: {
                labels: {{ send_vecs[0]|safe }},
                datasets: [
                    {
                        label: '',
                        data: {{ send_vecs[1] }},
                        fill: true,
                        borderColor: 'rgb(49, 89, 181)',
                        backgroundColor: 'rgb(125, 148, 202)',
                        tension: 0.1
                    }
                ]
            }
        });
        function swap_wss_view(obj) {
            let selected_wss = document.getElementById('selected_wss');
            if (selected_wss.value !== obj.value) {
                document.getElementById('wss_' + selected_wss.value).style.opacity = '0';
                document.getElementById('wss_summary_' + selected_wss.value).style.opacity = '0';
                document.getElementById('wss_' + selected_wss.value).style.display = 'None';
                document.getElementById('wss_summary_' + selected_wss.value).style.display = 'None';
                setTimeout(function () {
                    document.getElementById('wss_' + obj.value).style.display = 'Block';
                    document.getElementById('wss_summary_' + obj.value).style.display = 'Block';
                    setTimeout(function() {
                        document.getElementById('wss_' + obj.value).style.opacity = '1';
                        document.getElementById('wss_summary_' + obj.value).style.opacity = '1';
                    }, 100);
                }, 100);
                selected_wss.value = obj.value;
            }
        }
    </script>
{% endblock %}

